# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
.venv/

# Environment Variables
.env

# Databases (Local backups)
*.sql
*.sqlite
*.db

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
